
  
<div style="background-color:green" >
	<table border=1>
		<tr>
		<th style="color:red">
<h1>DETAILS OF SELECTED ITEM </h1>
        </th>
        </tr>
        <tr>
<td style="color:blue"><b>SHOP_NAME:</b><%= @toyshop.name %></td>
        </tr>
        <tr>
<td style="color:blue"><b>SHOP_ADDRESS:</b><%= @toyshop.address %></td>
        </tr>
        <tr>
<td style="color:blue"><b>SHOP_OWNER:</b><%= @toyshop.owner %></td>
        </tr>

    </table>
</div>

   
  
